@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');

:root {
    --size-1: 1rem;
    --size-2: 2rem;
    --size-3: 3rem;
    --size-4: 4rem;
    --size-5: 5rem;
    --size-6: 6rem;
    --size-7: 7rem;

    /* Font Sizes */
    --font-size-1: 18px;
    --font-size-2: 20px;
    --font-size-3: 22px;
    --font-size-4: 24px;
    --font-size-5: 26px;
    --font-size-6: 28px;
}

.prose {
    font-family: 'Times New Roman';

    :is(h1, h2, h3, h4, h5, h6) {
        margin-left: var(--size-4);
        margin-top: var(--size-2);
        font-size: var(--font-size-5);
        font-weight: bold;
    }

    p {
        margin-left: var(--size-4);
        margin-right: var(--size-4);
        margin-top: var(--size-1);
        margin-bottom: var(--size-1);
        text-align: justify;
    }

    :is(ol) {
        padding-left: var(--size-7);
        list-style: decimal;
    }

    :is(ul) {
        padding-left: var(--size-7);
        list-style-type: square;
    }

    :is(ul, ol) li {
        p {
            margin-left: 0rem;
        }
    }

    :is(img) {
        justify-self: center;
        margin: var(--size-2);
    }

    .katex { font-size: 1em !important; }
}